@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;
$orange: #f8a055;
$black: #221f1a;
$gray: #5a574e;
$green: #988d51;
$white:#fff;
$transition: .4s ease;
$padding: 70px 0;
$textShadow: 0 0 2px  $black;
/***************
mixins
***************/
@mixin flex($justify, $align, $direction: row, $wrap:wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    color: $black;
}
.container {
  width: 80%;
  margin: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
  transition: $transition;
  &:hover {
    color: $green;
  }
}
/***************
nav
***************/
nav {
  .container {
    @include flex(space-between, center);
    .logo {
      color: $orange;
      font-size: 2rem;
      font-weight: 800;
      span {
        font-weight: 400;
        color: $black;
        font-style: italic;
      }
    }
    ul {
      @include flex(space-between, center);
      li {
        margin-left: 50px;
      }
    }
  }
}
  



