@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;
$orange: #f8a055;
$black: #221f1a;
$gray: #5a574e;
$green: #988d51;
$white:#fff;
$transition: .4s ease;
$padding: 70px 0;
$textShadow: 0 0 2px  $black;
/***************
mixins
***************/
@mixin flex($justify, $align, $direction: row, $wrap:wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    color: $black;
}
.container {
  width: 80%;
  margin: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
  transition: $transition;
  font-style: 1.2rem;
  &:hover {
    color: $green;
  }
}
button {
  background-color: $orange;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
button:hover {
  background: $green;
  color: $white;
  font-weight: 500;
  border-radius: 15px;
}
/***************
nav
***************/
nav {
  .container {
    @include flex(space-between, center);
    .logo {
      color: $orange;
      font-size: 2rem;
      font-weight: 800;
      span {
        font-weight: 400;
        color: $black;
        font-style: italic;
      }
    }
    ul {
      @include flex(space-between, center);
      li {
        margin-left: 50px;
      }
    }
  }
}
/***************
header
***************/
header {
  background: linear-gradient(to left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .99)), url(../img/header2.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(center, center);
  .naslov {
    h1 {
      color: $orange;
      font-size: 3rem;
      font-weight: 800;
      text-shadow: 1px 1px 1px $black;
    }

  }
}
/***************
footer
***************/


  



