@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;
$orange: #f8a055;
$black: #221f1a;
$gray: #5a574e;
$green: #988d51;
$white:#fff;
$transition: .4s ease;
$padding: 70px 0;
$textShadow: 0 0 2px  $black;
/***************
mixins
***************/
@mixin flex($justify, $align, $direction: row, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin bgImg($bgPosition, $bgSize, $bgRepeat, $height) {
  background-position: $bgPosition;
  background-size: $bgSize;
  background-repeat: $bgRepeat;
  height: $height;
}
@mixin btn {
  padding: 15px 30px;
  background-color: $orange;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  &:hover {
    background: lighten($orange, 5%);
    transition: $transition;
  }
}
/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    color: $black;
}
.container {
  width: 80%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
  transition: $transition;
  font-style: 1.2rem;
  &:hover {
    color: $green;
  }
}
h2 {
  font-size: 3rem;
}
/***************
nav
***************/
nav {
  .container {
    @include flex(space-between, center);
    .logo {
      color: $orange;
      font-size: 2rem;
      font-weight: 800;
      span {
        font-weight: 400;
        color: $black;
        font-style: italic;
      }
    }
    ul {
      @include flex(space-between, center);
      li {
        margin-left: 50px;
      }
    }
  }
}
/***************
mainHeader
***************/
.mainHeader {
  background: linear-gradient(to right, rgba(255, 255, 255, .99), rgba(255, 255, 255, .01)), url(../img/header.jpg);
  @include bgImg(center, cover, no-repeat, 80vh);
  @include flex(flex-start, center);
  div {
    flex: 0 0 40%;
    margin-left: 10%;
    padding: 50px;
    background: linear-gradient(to right, rgba(87, 43, 43, 0.01), rgba(255, 255, 255, .99));
    h1 {
      font-size: 4rem;
      color: $orange;
      text-shadow: $textShadow;
    }
    button {
      @include btn;
    }
  }
}
/***************
uvod
***************/
.uvod {
  padding: $padding;
  @include flex(space-between, center);
  article {
    flex: 1;
    padding: 50px;
    h2 {
      font-weight: 800;
      span {
        font-weight: 300;
        font-style: italic;
      }
    }
    h3 {
      font-size: 5rem;
      color: $orange;
      text-shadow: $textShadow;
    }
    h4 {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }
}
/***************
singleHeaders
***************/
.singleHeaders {
  background: linear-gradient(to right, rgba(255, 255, 255, .99), rgba(255, 255, 255, .01)), url(../img/header2.jpg);
  @include bgImg(center, cover, no-repeat, 50vh);
  @include flex(center, flex-start, column);
  margin-left: 10%;
  h1 {
    font-size: 3rem;
    color: $orange;
    text-shadow: $textShadow;
  }
  button {
    @include btn;
  }
}
/***************
zeleno
***************/
.zeleno {
  padding: $padding;
  color: $white;
  background-image: url(../img/bg.jpg);
  @include bgImg(center, cover, no-repeat, auto);
  .container {
    @include flex(space-between, center);
    article {
      flex: 0 0 45%;
      img {
        width: 100%;
      }
      p {
        margin-top: 30px;
      }
      h2 {
        margin-bottom: 30px;
        text-shadow: $textShadow;
      }
    }
  }
}
/***************
organic
***************/
.organic {
  @extend .zeleno;
  background-image: url(../img/bg2.jpg);
}
/***************
poruci
***************/
.poruci {
  @include flex(center, stretch, row, wrap);
  article {
    flex: 1;
    img {
      width: 100%;
      display: block;
    }
    button {
      @include btn;
      background: $white;
      display: block;
      &:hover {
        background: $gray;
        color: $white;
      }
    }
  }
  article:last-child {
    background: $orange;
    padding: 50px;
    @include flex(center, flex-start, column, wrap);
  }
}

/***************
footer
***************/
footer {
  @include flex(center, strech);
  color: $white;
  article:first-child {
    flex: 7;
    background: $gray;
    padding: 80px;
    h3 {
      padding-bottom: 30px;
    }
  }
  article:last-child {
    flex: 5;
    background: $orange;
    padding: 80px;
    i {
      text-shadow: $textShadow;
    }
  }
}
/***************
bottomBar
***************/
.bottomBar {
  text-align: center;
  padding: 10px;
  a {
    color: $orange;
    a:hover {
      color: $black;
    }
  }
}



  



